.notification {
  position: relative;
  padding: 2.5rem 1.5rem;
  box-shadow: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 3px;
  &__close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
  }

  &--error {
    color: red;
  }
}
